.mainContainer
{
  display:inline-block;
  background:#aaaaaa;
  
  width:80%;
  height:100%;
  
  margin-left:10%;
  margin-top:3%;
  padding:2%;

 
}

.body
{
  display:flex;
  padding-top:1%;
}

.infobar li
{
  flOAT:LEFT;
}

.mainContent
{
   width:50%;
}

.sidebarWrapper
{
    background:#888888;
    width:50%;
}

.sidebarContent
{
  display:inline-block;
  margin-left:5%;
  width:90%;
}

hr
{
  display:block;
  height:2px;
  background:white;
  width:97.5%;
}
